html {
	margin: 0px;
	padding: 0px;
	background: var(--tg-theme-bg-color);
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 16px;
}
html *,
html *:before,
html *:after {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 14px;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'lnum' 1;
	-o-font-feature-settings: 'lnum' 1;
	-ms-font-feature-settings: 'lnum' 1;
	-moz-font-feature-settings: 'lnum' 1;
	-webkit-font-feature-settings: 'lnum' 1;
	text-size-adjust: none;
	-o-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
#bot_stats {
	display: block;
	padding: 1.5rem;
}
#bot_stats table {
	width: 100%;
	border: 1px solid var(--tg-theme-hint-color);
	border-collapse: collapse;
	margin: 0px 0px 1.5rem 0px;
}
#bot_stats table td,
#bot_stats table th {
	border: 1px solid var(--tg-theme-hint-color);
	padding: 0.5rem;
}
#bot_stats table a {
	color: var(--tg-theme-link-color);
}
#bot_stats table td {
	color: var(--tg-theme-text-color);
}
#bot_stats table th {
	border-color: var(--tg-theme-button-color);
	background-color: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
}
#bot_stats table td {
	color: var(--tg-theme-text-color);
}
#bot_stats .progressbar {
	margin:  0px;
	display: block;
	width: 100%;
	height: 2.375rem;
	border-radius: 0.75rem;
	background-color: var(--tg-theme-hint-color);
	overflow: hidden;
}
#bot_stats .progressbar .bar {
	height: 2.375rem;
	width: 0%;
	background-color: var(--tg-theme-button-color);
}