html {
	margin: 0px;
	padding: 0px;
	background: var(--tg-theme-bg-color);
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 16px;
}
html *,
html *:before,
html *:after {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 14px;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'lnum' 1;
	-o-font-feature-settings: 'lnum' 1;
	-ms-font-feature-settings: 'lnum' 1;
	-moz-font-feature-settings: 'lnum' 1;
	-webkit-font-feature-settings: 'lnum' 1;
	text-size-adjust: none;
	-o-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
#auth {
	display: block;
	padding: 1.5rem;
}
#auth .form-row {
	position: relative;
	margin: 0px 0px 1.5rem 0px;
}
#auth .form-row .label {
	display: block;
	padding: 0 0.25rem;
	position: absolute;
	left: 0.75rem;
	top: 0.9375rem;
	background-color: var(--tg-theme-bg-color);
	font-size: 1rem;
	font-weight: 400;
	color: var(--tg-theme-hint-color);
	transition: transform .15s ease-out,color .15s ease-out;
	cursor: text;
	pointer-events: none;
	transform-origin: left center;
	white-space: nowrap;
	font-size: 1rem;
	line-height: 1.5rem;
}
#auth .form-row .input {
	margin:  0px;
	display: block;
	width: 100%;
	height: 3.375rem;
	padding: calc(0.75rem - 1px) calc(0.9rem - 1px);
	border: 1px solid var(--tg-theme-hint-color);
	border-radius: 0.75rem;
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-bg-color);
	outline: none;
	transition: border-color .15s ease;
	word-break: break-word;
	-webkit-appearance: none;
	font-size: 1rem;
	line-height: 1.25rem;
}
#auth .form-row .input:not(:placeholder-shown) + label,
#auth .form-row .input:focus + label {
	transform: scale(0.75) translate(-0.5rem, -2.25rem);
}
#auth .settings-item-description {
    font-size: .875rem;
    color: var(--tg-theme-text-color);
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}